.basket-wrapper {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);

    .basket-modal {
        width: 704px;
        height: 752px;
        background-color: #ffffff;
        padding: 32px;
        overflow: auto;

        .basket-total {
            display: flex;
            justify-content: space-between;
            font-weight: 700;
            margin-top: 20px;
        }

        .basket-title {
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid #dcdfe2;
            padding-bottom: 20px;

            .basket-title-close-icon {
                position: relative;
                padding: 10px;
                width: 40px;
                height: 40px;
                cursor: pointer;

                .close-icon {
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    width: 2px;
                    background-color: black;
                    height: 100%;
                }
                .close-icon-one {
                    transform: translate(-50%, -50%) rotate(45deg);
                }
                .close-icon-two {
                    transform: translate(-50%, -50%) rotate(-45deg);
                }
            }
        }
        .basket-item-wrapper {
            padding: 15px 0px;
            border-bottom: 1px solid #dcdfe2;
            display: flex;
            align-items: center;
            position: relative;

            .basket-item-img {
                display: flex;
                align-items: center;
                width: 50%;
                .basket-item-image {
                    width: 77px;
                }
                .basket-item-img-text {
                    display: flex;
                    flex-direction: column;
                    p {
                        color: black;
                    }
                    div {
                        font-weight: 700;
                        font-size: 20px;
                    }
                }
            }
            .basket-item-actions {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 50%;

                .basket-item-count-input {
                    width: 60px;
                    height: 40px;
                    font-size: 20px;
                    text-align: center;
                    border: none;
                    border: 1px solid #dcdfe2;
                    border-radius: 4px;
                }
                .basket-item-count {
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                }
                .button--circle {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 0 10px;
                    background-color: #dcdfe2;
                    border-radius: 50%;
                    padding: 5px;
                    cursor: pointer;
                }
            }

            .basket-item-price {
                font-weight: 700;
                margin-right: 32px;
            }
            .basket-item-delete {
                position: absolute;
                right: 0;
                top: 0;
                width: 15px;
                height: 15px;
                cursor: pointer;
                .basket-item-delete-item {
                    position: absolute;
                    width: 1px;
                    height: 100%;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    background-color: black;
                }
                .basket-item-delete-one {
                    transform: rotate(-45deg);
                }
                .basket-item-delete-two {
                    transform: rotate(45deg);
                }
            }
        }
        .basket-form {
            .basket-form-title {
                font-weight: 700;
            }
            .basket-form-double-input {
                display: flex;
                justify-content: space-between;
                .first-input {
                    margin-right: 34px;
                }
            }
            .basket-form-input {
                border: none;
                border: 1px solid #C4C7CA;
                border-radius: 4px;
                padding: 12px 13px;
                margin-bottom: 12px;
                margin-top: 12px;
                width: 100%;
            }
        }
        .basket-checkboxes {
            margin-top: 10px;
            .basket-checkboxes-title {
                font-size: 18px;
                font-weight: 700;
                margin-bottom: 10px;
            }
            .basket-checkboxes-flex {
                display: flex;
                align-items: center;
                margin-bottom: 10px;
                input {
                    margin-right: 10px;
                }
                div {
                    font-size: 16px;
                }
            }
        }
        .basket-checkboxes-submit {
            width: 240px;
            height: 52px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: none;
            border-radius: 5px;
            background-color: #E52D2D;
            color: #ffffff;
            font-weight: 700;
            font-size: 18px;
            cursor: pointer;
        }
    }
}
